// pagination classes
.page-item.active .page-link {
  background-color: #17a2b8;
  border: 1px solid #dee2e6;
}
.page-link {
  color: #17a2b8;
  border: 1px solid #dee2e6;
}

.container {
  background-image: url('../../assets/img/pipes.png');
}

.email {
  font-size: .88em;
}
