.thumbImg {
  margin-top: 3em;
  margin-bottom: 2em;
  border-bottom: 1px solid #888;
};
.registrationTitle {
  font-weight: bold;
  margin-bottom: 16px;
};
.actionButtons {
  background-color: rgb(243, 173, 50);
  border-radius: 3px;
  color: rgb(51, 68, 68);
  padding: 0.3em 0.9em;
  font-size: 1.3em;
  border: none;
  min-width: 222px;
};
